body {
    background-color: black;
}

table, td, tr, th {
    border-color: rgb(211, 211, 211);
    border-collapse: collapse;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    background-color: yellow;
}

.table-container {
    padding: 20px;
    margin-top: 20px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#path-name {
    width: 650px;
}

#count {
    color: rgb(211, 211, 211);
    font-family: "Arial", "Helvetica", sans-serif;
}